.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  color: white;
}

.mainDiv {
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 30px;
}

.firstBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.firstBox :first-child {
  font-size: 80px;
  font-weight: 1000;
}
.firstBox :last-child {
  font-size: 50px;
  margin-left: 10px;
}

.secondBox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.thirdBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin: 10px;
  font-weight: 800;
}

.sideBar {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.topBox {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@keyframes moveUpDown {
  0% {
    margin-bottom: 0px;
    margin-top: 15px;
  }
  100% {
    margin-bottom: 15px;
    margin-top: 0px;
  }
}
.topBox :first-child {
  width: 50px;
  height: auto;
  animation: moveUpDown 1s infinite alternate;
}

.topBox :last-child {
  padding: 10px;
}

.bottomBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 4;
}
.bottomBox h1 {
  margin: 0 0 30px 50px;
}
.bottomBox ul {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}
.bottomBox li {
  margin: 10px 0 10px 20px;
  padding: 0;
  font-weight: 500;
  font-size: 15px;
  list-style: circle;
}
.dayList {
  margin: 0 0 30px 50px;
}

.backgroundImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* 다른 요소 위에 표시되도록 순서를 뒤로 보냅니다 */
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cloud {
  background: #3498db;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  margin-bottom: 20px;
  animation: fillCloud 2s infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 5px rgba(52, 152, 219, 0.5);
}

@keyframes fillCloud {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .mainDiv {
    width: 100vw;
    height: 70vh;
  }
  .sideBar {
    width: 100vw;
    height: 30vh;
    flex-direction: row;
  }
  .topBox {
    flex: 1;
  }
  .bottomBox {
    flex: 2;
    flex-direction: column;
  }
  .day {
    flex-direction: row;
  }
  .dayDiv {
    display: flex;
  }
  .bottomBox h1 {
    margin: 0 0 20px 50px;
  }
}
