.myCity {
  padding: 100px;
}
@font-face {
  font-family: "LAB디지털";
  font-style: normal;
  font-weight: 1000;
  src: url("../asset/font/LAB디지털.ttf") format("opentype");
}

.clockBox {
  font-size: 80px;
  text-align: center;
  color: #fff;
}

@media (max-width: 1300px) {
  .clockBox {
    font-size: 50px;
  }
}
